@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------- Font ---------------------------------- */
* {
  font-family: var(--font-notosans);
}

a,
.cursor-pointer {
  @apply transition-all hover:opacity-75;
}
input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  @apply h-4 w-4 rounded-full bg-primary-500 shadow-lg;
}

/* -------------------------------- Gradient -------------------------------- */
.gradient-primary {
  @apply bg-gradient-to-tr from-primary-500 to-primary-400;
}

.gradient-primary2 {
  @apply bg-gradient-to-tr from-primary-500 to-primary-300;
}

.gradient-brown {
  @apply bg-gradient-to-tr from-brown-900 to-brown-500 text-slate-100;
}

.gradient-brown-lg {
  @apply text-slate-100 lg:bg-gradient-to-tr lg:from-brown-900 lg:to-brown-500;
}

/* --------------------------------- Swiper --------------------------------- */
.swiper-button-next,
.swiper-button-prev {
  @apply hidden md:block !important;
  color: #fff !important;
}

.swiper-pagination-bullet {
  @apply bg-primary-500/25 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-primary-500 !important;
}

.swiper-pagination {
  @apply container relative mx-auto hidden  md:text-left lg:block !important;
}
.swiper-slide {
  @apply transition-opacity !important;
}
.swiper-slide-thumb-active {
  @apply opacity-75;
}
